@charset "UTF-8";

*{
    font-family: 'Poppins', sans-serif;
    padding: 0px;
    margin: 0px;
}

body{
    background-color: #4e4e4e;
    color: #fff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: #292929;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 70%;
    border-radius: 15px;
    height: 30%;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.class-container{
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 20px;
}

.question{
    font-size: 30px;
    font-weight: bold;
}

.answers-container{
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 10px;
}

.next-quiz-button{
    margin-top: 24px;
}

button{
    background-color: #8b00fd;
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 3px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:not(:disabled):hover{
    background-color: #ad4cfc;

}

.start-quiz-button{
    width: 350px;
    height: 100px;
}

.hide{
    display: none;
}

.correct{
    background-color: #3cff006c;
}


.incorrect{
    background-color: #ff0000;
}

.answer-button:disabled{
    cursor: not-allowed;
}